

{# templates/security/register.html.twig #}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inscription - Git Match</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: #03163f;
    }
    label {
      color: white;
    }
    .container {
      width: 90%;
      max-width: 400px;
      text-align: center;
    }

    .lang {
      margin-bottom: 20px;
      color: #777;
    }

    .form-group {
      margin-bottom: 15px;
      text-align: left;
    }

    input {
      width: 100%;
      padding: 12px;
      border: 1px solid #ddd;
      border-radius: 6px;
      font-size: 14px;
      background: #f2f2f2;
    }

    input:focus {
      outline: none;
      border-color: #001ad6;
      box-shadow: 0 0 3px rgba(90, 155, 255, 0.6);
      background: #fff;
    }

    .lang, p.petit-text {
      color: white;
    }
    img{
            height: 100%;
            width: 100%;
        }
    .btn {
      display: block;
      width: 100%;
      padding: 12px;
      margin-top: 10px;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      color: white;
      background: #001ad6;
      cursor: pointer;
      transition: background 0.3s;
    }

    .btn:hover {
      background: #387ef5;
    }

    .petit-text {
      margin: 15px 0 5px;
      font-size: 13px;
      color: #555;
    }
  </style>
</head>
<body>
  <div class="container">
    {# Sélecteur de langue #}
    <div class="lang">
      Français ▼
    </div>

        <div class="logo-box">
            <img src="{{ asset('img/logo.png') }}" alt="Logo">
        </div>


        {{ form_start(inscriptionForm) }}
        {{ form_row(inscriptionForm.nom) }} 
        {{ form_row(inscriptionForm.prenom) }}
        {{ form_row(inscriptionForm.courriel) }}
        {{ form_row(inscriptionForm.telephone) }}
        {{ form_row(inscriptionForm.motDePasse) }}

        <button class="btn">S'inscrire</button>
    {{ form_end(inscriptionForm) }}

    <p class="petit-text">Vous avez déjà un compte ?</p>
    <a href="{{ path('app_login') }}">
      <button class="btn">Connexion</button>
    </a>
  </div>
</body>
</html>
